<%= form_for ([:organizer, @event]) do |f| %>
  
  <div class="form-group">
    <%= f.label :event_title %>
    <%= f.text_field :title, class: "form-control site-form-control" %>
  </div>

<% end %>
