<%= render partial: "partials/header" %>
<div class="jumbotron mb-0">
  <h1 class="display-4">EventMitra</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<section class="home-search-section bg-purple-gradient">
	<div class="container-fluid">
		<div class="col-sm-8 offset-sm-2 search-label-wrap">
			<div class="search-label text-center">
				<h5 class="text-uppercase text-white">Discover something new</h5>
			</div>
			<div>
				<div class="row">
					<div class="col-md-3 col-sm-5 place-select-wrapper pr-0">
						<div class="place-select-container bg-white cursor-pointer h-40">
							<div class="place-select-header">
								<!-- <div class="header-text h-40">India</div> -->
								<input type="text" class="header-text h-40 border-0" placeholder="India">
							</div>
						</div> 
					</div>
					<div class="col-md-9 col-sm-7 position-relative input-wrapper">
						<div class="event-input">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
