.site-color {
  color: #0f56f7 !important;
}
.site-form-control {
  border: 2px solid #3756f7;
}
.form-control:focus {
  border-color: #3756f7;
  box-shadow: none;
} 
.font-20 {
  font-size: 20px;
}
.w-sp-6 {
  word-spacing: 6px;
}
.btn-site, .btn-site:hover {
  background-color: #3756f7;
  border: 1px solid #3756f7;
  color: #fff;
}
.btn-outline-site, .btn-outline-site:hover {
  border: 2px solid #3756f7;
  color: #3756f7;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3756f7 !important;
  opacity: 0.5 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3756f7 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #3756f7 !important;
}
label.error {
  color: red;
  font-size: 11px;
}
.error .site-form-control, .has-error .site-form-control{
  border: 2px solid red!important;
}